*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}


#score {
  visibility: hidden;
}


#gameOver {
  visibility: hidden;
}


h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  background-color: rgb(149, 149, 15);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.selection--wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2%;
}


.selection--container {
  display: flex;
  gap: 1rem;
}


#countdown {
  text-align: center;
  font-size: 3rem;
  margin-top: 2%;
}


#words {
  text-align: center;
  font-size: 2rem;
  margin-top: 2%;
}


.input--container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


.buttons--container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  position: relative;
}


.buttons {
  position: absolute;
}


#end {
  visibility: hidden;
}


.buttons {
  border: none;
  cursor: pointer;
  background-color: rgb(149, 149, 15);
  padding: 1rem;
  font-weight: bold;
  border-radius: 5px;
}


.buttons:hover {
  background-color: rgb(200, 200, 35);
}


#inputField {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}


#leaderboard {
  position: absolute;
  top: 14%;
  margin-left: 2rem;
}


.leaderboard--list {
  list-style-type: none;
}


.list--item {
  padding-top: 10px;
}


@media (max-width: 1024px) {
  #leaderboard {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  #leaderboard {
    margin-left: .5rem;
  }
}


@media (max-width: 426px) {
  h1 {
    font-size: 1rem;
    letter-spacing: .5rem;
  }


  #leaderboard {
    position: static;
    font-size: 12px;
    margin-top: 5rem;
  }


  .selection--wrapper {
    gap: .5rem;
  }


  .leaderboard--list {
    columns: 2;
  }
}


@media (min-width: 2560px) {
  html {
    font-size: 2rem;
  }


  #difficulty, #timer {
    font-size: 1rem;
  }


  #inputField {
   font-size: 1rem;
  }


  .buttons {
    font-size: 1rem;
  }
}