*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.buttons {
  position: relative;
}


#end {
  position: absolute;
  left: 0;
  visibility: hidden;
}


#score {
  visibility: hidden;
}


#gameOver {
  visibility: hidden;
}